<!DOCTYPE html>
<html lang="zh-Hans-CN">
<meta charset="UTF-8">

<head>
    <title>匿名发布话题 @ {{hostname}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/xjtumen-g/cdn/auto-dark-mode.css">
    <meta name="viewport" content="width=device-width">
</head>

<body>
<p>正在以 <em>instant_reply_agent</em> 身份快速创建话题</p>

<link rel="stylesheet" href="/xjtumen-g/cdn/simplemde-theme-dark.min.css">
<script src="/xjtumen-g/cdn/simplemde.min.js"></script>
<form role="form" method=POST action=/xjtumen-custom-api/call-discourse-api/new-topic/{{hostname}} name="myForm"
      id="myForm">
    <label>
        标题：
        <input name="topic_title">
    </label>
    <label for="cats">类别：</label>
    <select id="cats" name="category">
        <option value="4">吐槽/提问/闲聊/讨论</option>
        <option value="11">高信息熵内容 / 精选内容</option>
        <option value="14">问学姐 / 问学长</option>
        <option value="16">课程信息与点评</option>
        <option value="12">通用指南&CS攻略</option>
        <option value="13">学习资料</option>
        <option value="47">工作 / 招聘 / 内推</option>
        <option value="53">NSFW</option>
        <option value="48">飞跃重洋</option>
        <option value="2">站点反馈</option>
        <option value="15">研究生导师信息</option>
        <option value="8">校内闲置物品信息发布</option>
        <option value="6">寻人/表白/交友/失物招领</option>
        <option value="10">游戏 / 娱乐</option>
    </select>
    <textarea class="form-control" rows="3" id="my-post" name="topic_content"></textarea>
    <script>
        var simplemde = new SimpleMDE({element: document.getElementById("my-post")});
        // const easyMDE = new EasyMDE({element: document.getElementById('my-post')});
    </script>
    <button class="btn btn-default" type="submit">提交</button>
</form>


<p><a href="/xjtumen-custom-api/handle-reply-to-topic/{{hostname}}/" target="_blank" rel="noopener noreferrer">Open In New Tab</a></p>
</body>
</html>
