<!DOCTYPE html>
<html>

<head>
    <title>reply to {{topic_id}} @ {{xjtumen_base_url}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
<p>You are replying as <em>anonymous_user</em> to
    <a href="https://{{xjtumen_base_url}}/t/-/{{topic_id}}">{{title}}</a></p>

<form action=/xjtumen-custom-api/discourse-post-to-topic method=POST>
    <label>
        Your reply:
        <input name="content">
    </label>
    <input type="hidden" name="topic_id" value="{{topic_id}}">

    <button type=submit>Submit!</button>
</form>
<p><a href="https://anonymouspost.xjtu.live/xjtumen-custom-api/handle-reply-to-topic/{{topic_id}}/{{title}}" target="_blank" rel="noopener noreferrer">Reply In New Tab</a></p>
</body>
</html>
